#map-container {
  position: relative;
  width: 100%;
  height: 500px;
  margin-top: 30px;

  background-image: url("./assets/world-map.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.marker {
  position: absolute;
  background: radial-gradient(circle, #ffb347, #ff7a18);
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 18px rgba(255, 140, 0, 0.8);
  transition: transform 0.2s ease;
}

.marker:hover {
  transform: translate(-50%, -50%) scale(1.15);
}

#alumni-list li:hover {
  color: #ffb347;
}
